:root {
  /* light theme color */
  --background: #fff;
  --background-secondary: #fafafa;
  --color-header: #ffff;
  --header: #42567b;
  --color: #42567b;
  --color-h1: #42567b;
  --color-secondary: #7e93b9;
  --border-color: #e1e6ef;

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

body.dark-theme {
  /* dark theme colors */
  --background: #42567b;
  --background-secondary: #3b3d42;
  --header: #42567b;
  --color-header: #fafafa;
  --color-h1: #fafafa;
  --color: #fafafa;
  --color-secondary: #fafafa;
  --border-color: #5b7088;
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);

@define-mixin greater-icon $stroke-width: 3px, $width: .95rem, $height: 100% {
  .greater-icon {
    width: $width;
    height: $height;

    path {
      stroke: currentColor;
      stroke-width: $stroke-width;
    }
  }
}

/* HOW TO USE */

/*@media (--phone) {*/
  /*margin-top: 0;*/
/*}*/
